body[theme = light] {
    --dim: #fff;
    --background: #ddd;
    --text: #666;
    --mark: #444;
    --link: #47b;
    --main: #777;
    --button: #ccc;
    --blank: #bbb;
    --block: #eee;
    --comment: #999;
    --code: #555;
    --string: #370;
    --keyword: #83b;
    --built_in: #088;
    --number: #960;
    --variable: #d55;
    --title: #06c;
    color-scheme: light
}

body[theme = dark] {
    --dim: #333;
    --background: #444;
    --text: #aaa;
    --mark: #ccc;
    --link: #5af;
    --main: #aaa;
    --button: #555;
    --blank: #666;
    --block: #222;
    --comment: #888;
    --string: #8c5;
    --keyword: #c7f;
    --built_in: #2cc;
    --number: #d92;
    --variable: #f66;
    --title: #6af;
    color-scheme: dark
}

.string, .cm-string, .cm-string-2 {color: var(--string)}
.keyword, .cm-keyword {color: var(--keyword)}
.builtin, .operator, .cm-builtin, .cm-operator {color: var(--built_in)}
.comment, .cm-comment {color: var(--comment)}
.number, .cm-number {color: var(--number)}
.variable, .cm-variable, .cm-variable-2, .cm-variable-3, .cm-property {color: var(--variable)}
.method, .cm-def, .cm-meta {color: var(--title)}

.CodeMirror-cursor {border-left-color: var(--mark)}
.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-selected {background-color: var(--background)}