@font-face {
    font-family: dyslexic;
    src: url(/assets/fonts/dyslexic.otf)
}

@font-face {
    font-family: nunito;
    src: url(/assets/fonts/nunito.ttf)
}

:root {
    --radius: 0.3em;
    --padding: 0.4em;
    --small: 16px
}

body {
    margin: 0;
    font-size: var(--font);
    background-color: var(--background);
    font-family: nunito;
    color: var(--text)
}

mark {
    color: var(--mark);
    background: none
}

.CodeMirror pre.CodeMirror-line {padding: 0 0.8em}
.CodeMirror-lines {padding: 0.8em 0}

.CodeMirror {
    transition-duration: 0.5s;
    flex: 0 0 auto;
    width: 100%;
    height: 100%
} 

.editor > div:last-child {
    flex: 1 1 0;
    min-height: 0;
    display: flex
}

.editor button[active],
.editor button:hover {background-color: var(--blank)}

.editor > div:first-child {
    background-color: var(--dim);
    font-size: 0
}

.editor canvas {
    background-color: #fff;
    flex: 1 1 0;
    width: 0
}

.editor {
    mask-image: radial-gradient(#fff, #000);
    border-radius: 0.4em;
    height: 20em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1em 0
}

.editor button {
    border: none;
    padding: 0.5em 0.5em;
    background-color: var(--button);
    font-size: var(--small);
    color: var(--mark);
    margin: 0;
    cursor: pointer
}

details {
    background-color: var(--block);
    border-radius: var(--radius);
    padding: var(--padding);
    margin-bottom: var(--padding)
}

details a {
    display: block;
    margin-left: 2em
}

pre, code, .CodeMirror {
    background-color: var(--block);
    color: var(--code);
    font-size: var(--small);
    font-family: monospace
}

a {
    color: var(--link);
    text-decoration: none
}

video {
    width: 100%;
    border-radius: var(--radius);
}

footer {
    width: 100%;
    padding: var(--padding);
    font-size: var(--small)
}

pre {
    display: block;
    color: var(--comment)
}

pre, code {
    padding: 0.8em;
    margin: 1em 0;
    border-radius: var(--radius)
}

footer span {color: var(--text)}
a:hover {color: var(--comment)}
html {scroll-behavior: smooth}
canvas:focus {outline: none}

.indent {margin-left: 2em}
.large {font-size: var(--font)}
.code {color: var(--code)}
.small {font-size: var(--small)}

code {
    display: table;
    font-weight: bold;
    white-space: pre-wrap;
    margin: 2em 0 0.6em 0
}

.list {
    margin: 0.6em 0;
    display: flex;
    flex-wrap: wrap
}

.list span {
    font-family: monospace;
    font-size: var(--small);
    display: inline-block;
    border-radius: var(--radius);
    background-color: var(--block);
    border: 1px solid var(--button);
    padding: 0.5em 1em;
    margin: 0.2em
}

.top {
    overflow: hidden;
    font-weight: bold
}

.top a:first-child {
    font-family: dyslexic;
    font-size: 40px;
    padding-right: 0.2em;
    color: var(--main)
}

.top a:not(:first-child), .top i {
    cursor: pointer;
    color: var(--comment)
}

.top > i {
    float: right;
    padding-bottom: 1em
}

.top a:not(:first-child) {
    font-family: nunito;
    padding-left: 1em
}

.top i.fa-bars {display: none}
.top a {text-decoration: none}
.top a.this, .top a:not(:first-child):hover, .top i:hover {color: var(--link)}
.main {min-height: 100vh}

.header {
    height: 10em;
    background-color: #999;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center
}

.header h1 {
    font-size: 5em;
    font-family: dyslexic;
    margin-left: 0.4em
}

.header img {
    height: 60%;
    float: left
}

@media screen and (min-width: 64em) {
    .top {
        max-width: 64em;
        padding: 2em 6em;
        margin: 0 auto
    }

    .main {
        max-width: 64em;
        padding: 1em 6em;
        margin: 0 auto
    }

    :root {--font: 20px}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .top {padding: 2em 4em}
    .main {padding: 1em 4em}
    :root {--font: 18px}
}

@media screen and (max-width: 42em) {
    .top {padding: 2em 1em}
    .main {padding: 1em 1em 2em 1em}
    :root {--font: 16px}

    .top a:not(:first-child), .top i.theme {display: none}
    .top i.fa-bars {display: block}

    .top.active a:not(:first-child) {
        padding-top: var(--padding);
        display: block
    }
}

* {
    transition-duration: 0.2s;
    box-sizing: border-box
}