@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

@font-face {
	font-family: dyslexic;
	src: url(../resources/font/dyslexic.otf);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.top {
	overflow: hidden;
	font-family: dyslexic;
}

.top a {
	float: left;
	color: #999999;
	padding-right: 18px;
	text-decoration: none;
	font-size: 0.9rem;
}

.top a:hover, .top a.this {
	color: #3e77b1;
}

.top .icon {
	display: none;
}

.header {
	color: #ffffff;
	text-align: center;
	background-image: linear-gradient(180deg, #6e89a5, #3a4149);
	font-family: dyslexic;
}

.header img {
	width: 55px;
	margin: 0;
	vertical-align: middle;
	margin-right: 1rem;
}

.base {
	margin: 0;
	font-weight: bold;
	vertical-align: middle;
	font-size: 4.5rem;
}

.line {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;
	display: block;
	font-size: 1.5rem;
}

.main {
	font-family: "Open Sans";
	color: #606c71;
	line-height: 1.5;
}

.main h2, .main h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-family: dyslexic;
    font-weight: normal;
	color: #3e77b1;
}

.main a {
	color: #3e77b1;
	text-decoration: none;
}

.main a:hover {
	color: #a5a5a5;
}

.main footer {
	margin-top: 1em;
	font-size: 0.9rem;
}

.image {
	margin-top: 2em;
	position: relative;
}

.image img {
	opacity: 1;
	display: block;
	width: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
}

.image .text {
	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}

.image:hover img {
	opacity: 0.3;
}

.image:hover .text {
	opacity: 1;
}

.code {
	padding: 0.5rem 1rem;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	color: #a0a0a0;
	background-color: #f3f6fa;
	border-radius: 0.3rem;
	border: solid 1px #e9ebec;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.code pre {
	color: #2b3c44;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	margin: 0;
}

.email {
	font-family: dyslexic;
	font-size: 0.9rem;
}

.content {
	padding-top: 1rem;
	font-size: 1rem;
}

.content .class {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: 0.3rem 1rem;
	font-size: 1.3rem;
	background-color: #edf6ff;
	border-radius: 0.3rem;
	border: solid 1px #e9ebec;
	color: #5f696d;
	font-weight: bold;
	display: inline-block;
}

.content .function {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: 0.2rem 1rem;
	font-size: 1rem;
	background-color: #f1f1f1;
	border-radius: 0.3rem;
	border: solid 1px #e9ebec;
	color: #6f7274;
	font-weight: bold;
	display: inline-block;
}

.content .text {
	padding: 0.5rem 2rem;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
  
th, td {
	text-align: left;
	padding: 0.2rem 1rem;
	border: 1px solid #e9ebec;
}

.back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #444444;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back em {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back:hover {
    background: #111111;
	display: block;
}

.back:hover em {
    top: 5px;
}

.list {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.list code {
	padding: 0.2rem 1rem;
	border-radius: 0.3rem;
	border: solid 1px #e9ebec;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Open Sans";
	color: #6f7274;
	display: inline-block;
	margin-bottom: 0.5rem;
}

@media screen and (min-width: 64em) {
	.title {font-size: 3.25rem}
	.header {padding: 5rem 6rem}
	.tagline {font-size: 1.25rem}
	.main {max-width: 64rem; padding: 1rem 6rem; margin: 0 auto; font-size: 1.1rem}
	.top {max-width: 64rem; padding: 2rem 6rem; margin: 0 auto}
	.image {width: 50%}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.title {font-size: 2.25rem}
	.header {padding: 3rem 4rem}
	.tagline {font-size: 1.15rem}
	.main {padding: 1rem 4rem; font-size: 1.1rem}
	.top {padding: 2rem 4rem}
	.image {width: 60%}
}

@media screen and (max-width: 42em) {
	.title {font-size: 1.75rem}
	.header {padding: 2rem 1rem}
	.tagline {font-size: 1rem}
	.main {padding: 1rem 1rem; font-size: 1rem}
	.top {padding: 2rem 1rem}
	.image {width: 100%}

	.top a {
		display: none;
	}

	.top a.icon {
		float: left;
		display: block;
	}

	.top.responsive {
		position: relative;
	}

	.top.responsive.icon {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.top.responsive a {
		padding-bottom: 5px;
		float: none;
		display: block;
		text-align: left;
	}
}

* {
	box-sizing: border-box;
}