body[theme = sun] {
    --background: #eee;
    --text: #666;
    --mark: #444;
    --block: #fff;
    --box: #ddd;
    --off: #ccc;
    --green: #6c6;
    --hover: #4a4;
    --red: #e66;
    --float: #c44;
    --gold: #c82;
    --shine: #a60;
    --blue: #259;
    --link: #47b;
    --comment: #999;
    --code: #555;
    --string: #6a3;
    --keyword: #83b;
    --built_in: #0aa;
    --number: #c71;
    --variable: #d55;
    --title: #06c;

    /* --green: #4a4;
    --hover: #393;
    --dim: #fff;
    --background: #eee;
    --text: #666;
    --mark: #444;
    --link: #47b;
    --main: #777;
    --button: #ccc;
    --blank: #bbb;
    --block: #eee;
    --comment: #999;
    --code: #555;
    --string: #370;
    --keyword: #83b;
    --built_in: #088;
    --number: #960;
    --variable: #d55;
    --title: #06c;*/
}

body[theme = moon] {
    --background: #222;
    --text: #aaa;
    --mark: #ddd;
    --block: #111;
    --box: #333;
    --off: #444;
    --green: #393;
    --hover: #5b5;
    --red: #b33;
    --float: #d55;
    --gold: #d93;
    --shine: #fb5;
    --blue: #16b;
    --link: #38d;
    --comment: #888;
    --string: #8c5;
    --keyword: #c7f;
    --built_in: #2cc;
    --number: #d92;
    --variable: #f66;
    --title: #6af;

    /* --green: #393;
    --hover: #282;
    --dim: #444;
    --background: #333;
    --text: #aaa;
    --mark: #ccc;
    --link: #5af;
    --main: #aaa;
    --button: #555;
    --blank: #666;
    --block: #222;
    --comment: #888;
    --string: #8c5;
    --keyword: #c7f;
    --built_in: #2cc;
    --number: #d92;
    --variable: #f66;
    --title: #6af;*/
}

:root {
    --fade: .2s;
    --radius: .3em;
    --small: 16px
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-size: var(--font);
    background-color: var(--background);
    font-family: varela;
    color: var(--text)
}

mark {
    color: var(--mark);
    background: none
}

.cm-string, .cm-string-2 {
    color: var(--string)
}

.cm-keyword {
    color: var(--keyword)
}

.cm-builtin, .cm-operator {
    color: var(--built_in)
}

.cm-comment {
    color: var(--comment)
}

.cm-number {
    color: var(--number)
}

.cm-variable, .cm-variable-2, .cm-variable-3, .cm-property {
    color: var(--variable)
}

.cm-def, .cm-meta {
    color: var(--title)
}

.CodeMirror-cursor {
    border-left-color: var(--mark)
}

.CodeMirror-focused .CodeMirror-selected, .CodeMirror-selected {
    background-color: var(--off)
}

.CodeMirror-gutters {
    background-color: var(--block);
    border-color: var(--box)
}

.CodeMirror-lines {
    padding: .8em 0
}

.CodeMirror-linenumber {
    color: var(--off)
}

.CodeMirror-scrollbar-filler {
    background-color: var(--text)
}

.CodeMirror {
    background: none
    /* height: 100% */
}

.editor {
    border-radius: var(--radius);
    mask-image: radial-gradient(#fff, #000)
}

.editor > div:first-child {
    background-color: var(--box)
}

.editor > section {
    position: relative;
    overflow: hidden;
    height: 20em;
}

.editor > section > div {
    background-color: var(--block);
    transition: background-color var(--fade), right .5s;
    position: absolute;
    display: flex;
    width: 200%;
    height: 100%
}

.editor > section > div > * {
    flex: 1 1 0;
    width: 50%
}

.log {
    background-color: var(--box);
    overflow: auto;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: var(--small);
    height: 5em;
    padding: .8em
}

.log > span {
    color: var(--float)
}

.editor > div > button {
    border: none;
    border-right: 1px solid var(--off);
    font-size: var(--font);
    background-color: var(--box);
    color: var(--text);
    padding: .2em;
    width: 3em;
    cursor: pointer
}

.editor > div > button:hover {
    background-color: var(--off);
    color: var(--mark)
}

pre {
    background-color: var(--block);
    padding: .8em;
    margin: 1em 0 1.5em 0;
    border-radius: var(--radius);
    overflow: auto
}

pre, .CodeMirror {
    color: var(--mark);
    font-size: var(--small);
    font-family: monospace
}

a {
    color: var(--link);
    text-decoration: none
}

a:hover {
    color: var(--comment)
}

footer {
    width: 100%;
    padding: .4em;
    font-size: var(--small)
}

footer span {
    color: var(--text)
}

.main canvas {
    border-radius: var(--radius)
}

.top {
    overflow: hidden;
    font-weight: bold
}

.top a:first-child {
    font-family: dyslexic;
    font-size: 40px;
    padding-right: 1em;
    color: var(--main)
}

.top a:not(:first-child), .top i {
    cursor: pointer;
    color: var(--comment)
}

.top > i {
    float: right;
    padding-left: .8em
}

.top a:not(:first-child):not([target]) {
    font-family: varela;
    padding-right: .6em
}

.top .fa-bars {
    display: none
}

.top a {
    text-decoration: none
}

.top a.this, .top a:not(:first-child):hover, .top i:hover {
    color: var(--link)
}

.main {
    min-height: 100vh
}

.full {
    overflow: hidden
}

.full .display {
    width: 100vw;
    height: 100vh
}

.display {
    position: relative
}

.display > div {
    color: #444;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.text {
    font-family: monospace;
    padding: 1em
}

.display canvas {
    width: 100%;
    height: 100%;
    background-color: #fff
}

.loader {
    width: 15em;
    height: .3em;
    display: inline-block;
    position: relative;
    background-color: #0002;
    overflow: hidden
}

.loader::after {
    content: '';
    width: 5em;
    height: .3em;
    background-color: #000;
    position: absolute;
    top: 0;
    animation: slide 1s linear infinite
}

.snippet {
    max-width: 40em
}

.right {
    float: right
}

.slot {
    width: 100%;
}

.slot img {
    width: 100%;
    max-width: 30em
}

.graph {
    position: relative;
    background-color: var(--block);
    padding: 1em 0 0 1em;
    min-height: 15em
}

.graph canvas {
    position: absolute;
    border-bottom-right-radius: var(--radius);
    width: calc(100% - 1em);
    height: calc(100% - 1em)
}

.x, .y {
    font-size: 12px;
    font-family: monospace;
    position: absolute;
    counter-reset: i 0;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0
}

.x {
    width: calc(100% - 1.5em);
    height: 100%;
    bottom: 0
}

.y {
    flex-direction: column-reverse;
    left: 0;
    height: calc(100% - 1.5em);
    width: 100%
}

.y li:after, .x li:after {
    content: counter(i)"";
}

.x li:not(:first-child) {
    counter-increment: i 250
}

.x li, .y li {
    position: relative;
    padding: 2px
}

.x li {
    border-left: 1px solid var(--box);
    flex: 0 0 calc(100% / 9)
}

.y li {
    counter-increment: i 10;
    border-top: 1px solid var(--box);
    flex: 0 0 calc(100% / 8)
}

.code div {
    display: flex;
    gap: 1em
}

.code pre {
    overflow: hidden;
    flex: 1 1 0;
    font-size: 8px;
    border: 1px solid var(--off);
    border-radius: .8em;
    padding: 1.5em
}

.code div > span {
    flex: 1 1 0;
    color: var(--link)
}

.demo {
    background-color: #fff;
    border-radius: .3em;
    width: 100%;
    height: 20em
}

.image {
    display: flex;
    gap: 1.5em;
    margin-bottom: 2em
}

.image div {
    min-width: 0;
    flex: 1 1 0
}

.image a {
    flex: 0 1 30%
}

.image img {
    max-width: 30em;
    width: 100%;
    border-radius: var(--radius)
}

.image h2 {
    margin-top: 0
}

.image pre {
    overflow: hidden
}

video, .graph {
    max-width: 30em;
    border-radius: var(--radius)
}

video {
    width: 100%
}

* {
    transition-property: color, border-radius, border-color, background-color, opacity;
    transition-duration: var(--fade);
    box-sizing: border-box
}

@font-face {
    font-family: dyslexic;
    src: url(/data/webfonts/dyslexic.otf)
}

@font-face {
    font-family: varela;
    src: url(/data/webfonts/varela.ttf)
}

@keyframes slide {
    0% {
        left: 0;
        width: 2em;
        transform: translateX(-100%)
    }

    100% {
        left: 100%;
        width: 10em;
        transform: translateX(0)
    }
}

@media screen and (min-width: 56em) and (max-width: 66em) {
    .top {
        padding: 2em 4em
    }

    .main {
        padding: 1em 4em
    }

    :root {
        --font: 18px;
        --header: 90px
    }
}

@media screen and (max-width: 56em) {
    .top {
        padding: 2em 1em
    }

    .main {
        padding: 1em 1em 2em 1em
    }

    .image {
        flex-direction: column
    }

    :root {
        --font: 16px;
        --header: 60px
    }

    .top a:not(:first-child), .top .theme {
        display: none
    }

    .top .fa-bars {
        display: block
    }

    .top.active a:not(:first-child) {
        padding-top: .4em;
        display: block
    }
}

@media screen and (min-width: 66em) {
    .top {
        max-width: 64em;
        padding: 2em 6em;
        margin: 0 auto
    }

    .main {
        max-width: 64em;
        padding: 1em 6em;
        margin: 0 auto
    }

    :root {
        --font: 20px;
        --header: 110px
    }
}